.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue
}

#portfolio {
    background-color: darkorange;
}

/* Added to make all my links the same color to match mock-up*/
a {
    color:blue;
}
